TOKEN=your_discord_bot_token_here
DATABASE_URL=postgresql://user:password@localhost:5432/idle_clans
CLAN_LOG_URL=https://query.idleclans.com/api/Clan/logs/clan/KlutzCo
CLAN_MESSAGE_CHANNEL=testing-ground
GOLD_DONATION_CHANNEL=general
BOSS_POLL_CHANNEL=tactical-dispatch
BOSS_SUMMARY_CHANNEL=tactical-dispatch
BOSS_SUMMARY_TIME=9:30
